<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.MemberEntity">
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="AGE" property="age" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="SEX" property="sex" />
    </resultMap>

    <select id="queryName" resultType="com.example.demo.entity.MemberEntity" parameterType="string">
        select * from "TEST"."MEMBER" where "USERNAME"=#{username};
    </select>


</mapper>
